/* PERMET D'AFFICHER LE CURSEUR DANS LES INPUTS ET TEXTAREA */
input
{
  caret-color: black;
}
textarea
{
  caret-color: black;
}

.display-4
{
  font-size: 1rem;
}
body{
  caret-color: transparent;
  background: rgb(212, 232, 180);
}
.navbar.navbar-7 .navbar-toggler-icon {
  background-image: url('https://image.flaticon.com/icons/png/512/60/60995.png');
  border-style: ridge;
  border-color: black;
}
.navbar.navbar-7{
  border-style: ridge;
  border-color: black;
  border-radius: 10px;
}
.card.shadow-sm{
  border-style: solid;
  border-color: black;
}

